/node_modules/

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

# Local authorization data
user.js

# Playwright reports
playwright-report/
test-results/
